name: Build Go binary

on:
  push:
    branches:
      - "go-cmd"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.21.x"
      - name: Install dependencies
        run: |
          go mod tidy
          go get .
      - name: Build
        run: |
          CGO_ENABLED=0 GOOS=linux GOARCH=arm64 go build -o insta-infra-linux-arm64 .
          CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -o insta-infra-linux-amd64 .
