name: Build Go binary

on:
  push:
    branches:
      - "go-cmd"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.17.x"
      - name: Install dependencies
        run: |
          go mod tidy
          go get .
      - name: Build
        run: go build -o insta-infra .
